@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;600&display=swap");
html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Fredoka', monospace;
}

.app {
  padding: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form {
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 3rem;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.5rem;
}

.form__box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

.form__labeledBox {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.form__label {
  font-size: 1.75rem;
  font-weight: 450;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: #262932;
}

.form__label:not(.start) {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.form__input {
  font-size: 1.75rem;
  padding: 1rem 1rem;
  border: none;
  outline: none;
  background-color: #f6f8fc;
  color: #262932;
  border-bottom: 2px solid #f6f8fc;
  border-radius: 3px;
  -webkit-transition: 0.1s all;
  transition: 0.1s all;
}

.form__input:focus {
  border-bottom: 2px solid #fa5788;
}

.form__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}

.form__option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  font-weight: 450;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  padding: 0.75rem 1rem;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
}

.form__btn {
  border: none;
  outline: none;
  border-radius: 3px;
  padding: 1rem 5rem;
  width: 100%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: 1.75rem;
  font-weight: 450;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 1;
          flex: 0 1;
  background-color: #fa5788;
  color: #fff;
  cursor: pointer;
  -webkit-transition: 0.1s all;
  transition: 0.1s all;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.form__btn:hover {
  background-color: #f84a7e;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  border-radius: 5px;
}

.form__btn:active {
  background-color: #e92a64;
  -webkit-transform: scale(1.09);
          transform: scale(1.09);
  border-radius: 4px;
}
/*# sourceMappingURL=index.css.map */