@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;600&display=swap');

$grey: #555a61;
$dark-1: #393b49;
$dark-2: #323848;
$dark-3: #262932;
$dark-4: #262932;
$white: #fff;
$gr: #20ab8a;
$bl: #0f76ca;
$rd: #e26970;
$ya: #fcbc04;
$pur: #6b51f3;
$pi: #fa5788;
$pi-2: #f84a7e;
$pi-3: #e92a64;
$font-size-15: 1.5rem;
$font-size-16: 1.6rem;
$font-size-17-5: 1.75rem;
$font-size-20: 2rem;
$box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
$border-radius: 3px;
$transition: all 0.1s;
$letter-spacing: 0.1rem;
$font-boldness: 450;
$bp: 750px;
$bp-2: 500px;
$bp-3: 1050px;

@mixin font-weight-spacing-upper {
  font-weight: 450;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

@mixin no-border-outline {
  border: none;
  outline: none;
}

html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Fredoka', monospace;
}

* {
  scrollbar-width: thin;
  scrollbar-color: $dark-1 $white;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: $white;
}

body::-webkit-scrollbar-thumb {
  background-color: $dark-1;
  border-radius: 20px;
  border: 3px solid $white;
}

.app {
  padding: 5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.form {
  max-width: 700px;
  width: 100%;
  background-color: $white;
  box-shadow: $box-shadow;
  padding: 3rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;

  &__box {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 2rem;

    @media screen and (max-width: $bp) {
      flex-direction: column;
    }
  }

  &__labeledBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__label {
    font-size: $font-size-15;
    color: $dark-4;
    @include font-weight-spacing-upper();

    &:not(.start) {
      align-self: center;
    }
  }

  &__input {
    @include no-border-outline();
    font-size: $font-size-17-5;
    color: $dark-4;
    border-radius: $border-radius;
    padding: 1rem 1rem;
    background-color: #f6f8fc;
    border-bottom: 2px solid #f6f8fc;
    transition: 0.1s all;

    &:focus {
      border-bottom: 2px solid $pi;
    }
  }

  &__options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    @media screen and (max-width: $bp-2) {
      flex-direction: column;
    }
  }

  &__option {
    font-size: $font-size-15;
    border-radius: $border-radius;
    color: $white;
    display: flex;
    align-items: center;
    padding: 0.75rem 1rem;
    cursor: pointer;
    @include font-weight-spacing-upper();

    @media screen and (max-width: $bp-2) {
      width: 100%;
      justify-content: center;
    }
  }

  &__btn {
    @include no-border-outline();
    border-radius: $border-radius;
    font-size: $font-size-17-5;
    color: $white;
    box-shadow: $box-shadow;
    padding: 1rem 5rem;
    width: 100%;
    align-self: flex-end;
    flex: 0 1;
    background-color: $pi;
    cursor: pointer;
    transition: 0.1s all;
    @include font-weight-spacing-upper();

    @media screen and (min-width: $bp) {
      &:hover {
        background-color: $pi-2;
        transform: scale(1.1);
        border-radius: 5px;
      }

      &:active {
        background-color: $pi-3;
        transform: scale(1.09);
        border-radius: 4px;
      }
    }
  }
}

.board {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;

  @media screen and (max-width: $bp-3) {
    flex-direction: column;
  }

  &__col {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding: 3rem;
    max-width: 450px;
    width: 100%;
    height: 735px;
    box-shadow: $box-shadow;
    border-radius: $border-radius;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__colHeading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2rem;
    border-bottom: 1px solid rgba(#000, 0.1);
  }

  &__colHeadingLeft,
  &__colHeadingRight {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  &__heading {
    font-size: $font-size-20;
    color: $dark-4;
    @include font-weight-spacing-upper();
  }

  &__icon {
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
  }

  &__count {
    font-size: $font-size-15;
    color: $dark-4;
    @include font-weight-spacing-upper();
  }

  &__colBody {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}

.task {
  box-shadow: $box-shadow;
  border-radius: $border-radius;
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;

  &__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__name {
    @include font-weight-spacing-upper();
    font-size: $font-size-16;
    text-transform: none;
    color: $dark-4;
  }

  &__icons {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__icon {
    font-size: $font-size-16;
    color: $dark-4;
    cursor: pointer;

    &:nth-child(1) {
      color: $bl;
    }

    &:nth-child(2) {
      color: $rd;
    }
  }

  &__body {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
  }

  &__property {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.75rem 1rem;
    font-size: $font-size-15;
    border-radius: $border-radius;
    color: $white;
    @include font-weight-spacing-upper();
  }
}
